// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#authors {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: #C0C0C0;
    color: #fff;

    .text-muted {
      color: #fff !important;
    }
  }
}

.image-avatar {
  height: 50px;
  width: 50px;
}

.wszyscy_urzytkownicy {
  width: 64px;
  height: 64px;
}

.logo-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.logo-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.logo-header-logo:hover {
  text-decoration: none;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.list-group-item.active {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 576px) {
  .logo-header-logo {
    font-size: 0.90rem;
  }
}