.logo-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.logo-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.logo-header-logo:hover {
    text-decoration: none;
}

video {
    width: 100%    !important;
    height: auto   !important;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

.list-group-item.active {
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
